*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bars{
  display: none;
}
body{
  background-color: #111111;
}
.container{
  max-width: 1400px;
  padding-inline: 1rem;
  margin-inline: auto;
}
.view{
  padding: 8rem 0 0 0;
}

.crypto-pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
  flex-wrap: wrap;
}
.crypto-pagination button {
  padding: 0.5rem 1rem;
}
button.active{
  background-color: #3a80e9;
  color: #ffffff;
  cursor: pointer;
}
.crypto-links{
  color: #ffffff;
  text-decoration: none;
}
.list-view .crypto-links{
  width: 100%;
}
section.detail-view{
  padding: 10rem 0 4rem 0;
}
section.search-view {
  padding: 4rem 0;
}
.no-coin-found {
  margin-inline: auto;
  color: #ffffff;
}
.css-19kzrtu {
  width: 100%;
}
section.chart-section {
  padding: 10rem 0px;
}
/* Responsive css */

@media (max-width: 1280px){
  .banner-content{
    width: 40rem !important;
  }
  .banner-content h2 {
    font-size: 6rem !important;
  }
  .hero-image {
    width: 16rem!important;
  }
  img.mobile-background {
    top: 6.5rem!important;
    right: 5rem;
  }
}

@media (max-width: 1060px){
  .banner-content{
    width: 32rem !important;
  }
  .banner-content h2 {
    font-size: 5rem !important;
  }
  .hero-image {
    width: 14rem!important;
  }
  img.mobile-background {
    top: 6rem;
    right: 6rem;
  }
}

@media (max-width: 900px){
    .hero-image{
      display: none;
    }
    .hero-banner {
      display: flex!important;
      justify-content: center!important;
      align-items: center!important;
    }
    .banner-content{
      align-items: center!important;
    }
    .banner-content h2{
      align-items: center!important;
    }
}

@media (max-width:700px){
  .bars{
    display: block;
    color: #ffffff;
  }
  header nav .navigation{
    display: none;
  }
  .banner-content{
    width: 26rem !important;
  }
  .banner-content h2 {
    font-size: 4rem !important;
  }
  .banner-content p {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
} 

@media (max-width:445px){
  .banner-content h2 {
    font-size: 2.5rem !important;
  }
  .banner-btn {
    flex-direction: column;
  }
  .banner-content{
    gap: 2rem;
  }
}