*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mobile-nav{
  list-style: none;
}
.bars{
  display: none;
}
body{
  background-color: #111111;
}
.container{
  max-width: 1400px;
  padding-inline: 1rem;
  margin-inline: auto;
}
.view{
  padding: 8rem 0 0 0;
}

.crypto-pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
  flex-wrap: wrap;
}
.crypto-pagination button {
  padding: 0.5rem 1rem;
}
button.active{
  background-color: #3a80e9;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.crypto-links{
  color: #ffffff;
  text-decoration: none;
  font-family: cursive;
}
.list-view .crypto-links{
  width: 100%;
}
section.detail-view{
  padding: 10rem 0 4rem 0;
}
section.search-view {
  padding: 4rem 0;
}
.no-coin-found {
  margin-inline: auto;
  color: #ffffff;
}
.css-19kzrtu {
  width: 100%;
}
section.chart-section {
  padding: 10rem 0px;
}
.detail-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: #333333;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem 0;
  flex-wrap: wrap;
}
.select-days {
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.rank img {
  max-width: 3rem;
}
.coin-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.detail-rank img {
  width: 4rem;
}
.detail-rank{
  width: fit-content;
}
section.about {
  padding: 8rem 0;
  color: #ffffff;
}
.red-box .g-card:hover{
  border: 2px solid red;
}
.green-box .g-card:hover{
  border: 2px solid green;
}
.changeBg {
  background-color: #ffffff!important;
  color: #000000!important;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3a80e9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.show-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.header-logo a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.4rem;
}
.loader-center{
  text-align: center;  
  height: 100vh;
  justify-content: center;
  align-items: center;

}
.loader-center span{
  margin-inline: auto;
}

/* 
    Light Mode
*/
.light header .header-logo a {
  color: #000000;
}
.light div button.nav-links{
  color: #7a7d80!important;
  font-size: 1rem;
}
.light .search input{
  background: #e3e6e8;
  color: #000000;
}
.light .g-card {
  background-color: #e3e6e8;
  color: #000000;
}
.light .detail-card{
  background: #e3e6e8;
  color: #000000;
}
.light .red,
.light .down-trend {
  color: #b10101;
  border: 2px solid #b10101;
}
.light .no-coin-found{
  color: #000000;
}
.light button[tabindex="-1"]{
  color: #000000;
}
.light .red-box .g-card:hover{
  border-color:#b10101;
}
.light #active .mobile-nav{
  box-shadow: 5px 0px 30px 0px rgb(0 0 0 / 30%);
  border-radius: 1rem;
}
div#circle {
  width: 2rem;
  height: 2rem;
  position: absolute;
  border: 2px solid #3a80e9;
  border-radius: 2rem;
}
.light .css-g14wdk-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root .MuiOutlinedInput-notchedOutline {
  border-color: #000000;
}
.light .select-days {
  color: #000000;
}
.light .MuiSelect-select.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: #000000;
}
.light .css-g14wdk-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root .MuiSvgIcon-root{
  color: #000000;
}
/* 
  Linght mode end
*/
/* Responsive css */

@media (max-width: 1280px){
  .banner-content{
    width: 40rem !important;
  }
  .banner-content h2 {
    font-size: 6rem !important;
  }
  .hero-image {
    width: 16rem!important;
  }
  img.mobile-background {
    top: 6.5rem!important;
    right: 5rem;
  }
}

@media (max-width: 1060px){
  .banner-content{
    width: 32rem !important;
  }
  .banner-content h2 {
    font-size: 5rem !important;
  }
  .hero-image {
    width: 14rem!important;
  }
  img.mobile-background {
    top: 6rem;
    right: 6rem;
  }
  .list-view .grid-card .g-card .c-percentage{
   width: 10rem; 
  }
  .list-view .grid-card .g-card .c-price{
    width: 6rem!important;
  }
}

@media (max-width: 900px){
    .hero-image{
      display: none;
    }
    .hero-banner {
      display: flex!important;
      justify-content: center!important;
      align-items: center!important;
    }
    .banner-content{
      align-items: center!important;
    }
    .banner-content h2{
      align-items: center!important;
    }
    .list-view .grid-card .g-card {
      gap: 2rem;
    }
}

@media (max-width:700px){
  .light .bars {
    display: block;
    color: #000000;
  }
  .bars{
    display: block;
    color: #ffffff;
  }
  header nav .navigation{
    display: none;
  }
  .banner-content{
    width: 26rem !important;
  }
  .banner-content h2 {
    font-size: 4rem !important;
  }
  .banner-content p {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .c-total-supply {
    /* margin-inline: auto; */
  }
} 

@media (max-width:445px){
  .banner-content h2 {
    font-size: 2.5rem !important;
  }
  .banner-btn {
    flex-direction: column;
  }
  .banner-content{
    gap: 2rem;
  }
}